<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  function random_username() {
    return "User_" + Math.floor(Math.random() * 10000).toString();
  }
  var username1 = random_username();
  var username2 = random_username();

  // Create users with the usernames stored in username1 and username2
  $.post("/users", {"username": username1}, function(data){console.log(data);});
  $.post("/users", {"username": username2}, function(data){console.log(data);});

  // Find a user by ID (id: 1)
  $.get("/users/1", function(data){console.log(data)});

  // Make user 1 follow user 2
  $.post("/relationships", {"follower_id": 1, "followed_id": 2}, function(data){console.log(data);});

  // Create a clip
  $.post("/clips", {"user_id": 1, "data": "fileContentHere"}, function(data){console.log(data);});
  
  // Find a clip by ID (id: 1)
  $.get("/clips/1", function(data){console.log(data)});

  // Fave a clip by ID (currently lets you fave as many times as you want)
  $.ajax({
    url: "/clips/1/fave",
    type: "PUT",
    success: function(data) {console.log(data)}
  });

  // Get a user's feed by user id
  $.get("/users/1/feed", function(data){console.log(data)});

</script>