<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  function random_username() {
    return "User_" + Math.floor(Math.random() * 10000).toString();
  }
  var username1 = random_username();
  var username2 = random_username();

  var u1id = 1;
  var u2id = 2;
  var c1id = 1;
  // Create users with the usernames stored in username1 and username2
  $.post("/users", {"username": username1, "password": "abc123", email: "u1@example.com"}, function(data){
    console.log(data);
    u1id = data.id;

    // Login as user with id u1id
    $.post("/login", {"username": username1, "password": "abc123"}, function(data){console.log(data);});

    // Failed login demo - bad uid
    $.post("/login", {"username": "alsdjf;laksdjf", "password": "abc123"}, function(data){console.log(data);});

    // Failed login demo - bad password
    $.post("/login", {"username": username1, "password": "asdf"}, function(data){console.log(data);});

    // Find a user by ID
    $.get("/users/" + u1id, function(data){console.log(data)});

    // Create a clip
    $.post("/clips", {"user_id": u1id, "name": "clip_name", "data": "fileContentHere"}, function(data){
      console.log(data);
      
      c1id = data.id;

      // Find a clip by ID (id: 1)
      $.get("/clips/" + c1id, function(data){console.log(data)});

      // Fave a clip by ID (currently lets you fave as many times as you want)
      $.ajax({
        url: "/clips/" + c1id + "/fave",
        type: "PUT",
        success: function(data) {console.log(data)}
      });
      
      // Make another user
      $.post("/users", {"username": username2, "password": "abc123", email: "u2@example.com"}, function(data){
        console.log(data);
        u2id = data.id;

        // Make user 2 follow user 1
        $.post("/relationships", {"follower_id": u2id, "followed_id": u1id}, function(data){console.log(data);});

        // Make user 1 repost clip 2
        $.post("/reposts", {"reposter_id": u1id, "clip_id": c1id}, function(data){console.log(data);});

        // Make user 2 unfollow user 1
        $.ajax({
          url: "/relationships",
          type: "DELETE",
          data:  {"follower_id": u2id, "unfollow_id": u1id},
          success: function(data) {console.log(data)}
        });

        // Make user 1 un-repost clip 2
        $.ajax({
          url: "/reposts",
          type: "DELETE",
          data:  {"reposter_id": u1id, "clip_id": c1id},
          success: function(data) {console.log(data)}
        });


      });
    });
  });
  
  // Get a user's feed by user id
  $.get("/users/" + 1 + "/feed", function(data){console.log(data)});

</script>