<!DOCTYPE>
<meta charset="utf-8">
<html>
<head>
  <style>
    body {
      font-family:sans-serif;
      font-size:12px;
    }
    #feed {
    }
    .clip {
      margin:10px;
      margin-left:auto;
      margin-right:auto;
      padding:10px;
      border: 1px solid #ccc;
      vertical-align: middle;
      width:301px;
      box-shadow:0 0 15px #000;
    }
    .fave {
      font-weight:bold;
      display:block;
      float:right;
    }
    .fave:hover{
      text-shadow: 0 0 5px #ffd700;
    }
    .fave:active{
      text-shadow: 0 0 5px #ffd700, 0 0 15px #ff0;
    }
    .fave::before {
      content: " \2605 ";
    }

  </style>
</head>
<body>
  <div id="feed">
  </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

  $(function() {
    $("#feed").on('click', '.fave', function() {
      var self = $(this);
      var path = "/clips/" + self.data("id") + "/fave";
      $.ajax({
        url: path,
        type: "PUT",
        success: function(data) {
          self.html(parseInt(self.html(), 10) + 1);
        }
      });
    });
  });

  $.get("/users/<%= params[:id] %>/feed", function(data){
    console.log(data);

    $.each(data, function(v, k) {
      var faves = k.faves === null ? 0 : k.faves;
      $("#feed").append("<div class='clip'>" + k.name + " uploaded by " + k.user.username + "<span class='fave' data-id='" + k.id + "'>" + faves + "</span><br><br><audio controls='controls' autobuffer='autobuffer'><source src='data:audio/wav;base64," + k.data + "'>Your browser does not support HTML5 audio.</audio></div>");
    });
  });

</script>